/************
Overhead
************/
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

#recipe-app {
  height: 100%;
}

/************
Placeholder Styling
************/
.DraftEditor-editorContainer {
  position: relative;
  z-index: 1;
}

.public-DraftEditorPlaceholder-root {
  color: #cbcbcc;
  position: absolute;
  z-index: 0;
}

/************
General recipe layout
************/
.recipe-container {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}

.ingredients-instructions-container {
  display: flex;
  flex: 100%;
  flex-direction: row;
  height: 100%;
}

.subtitle3 {
  margin: 0;
  padding: 10px 0 10px 0;
}

.header {
  padding: 0 0 20px 0;
}

.description-header {
  font-style: italic;
}

#ingredients {
  flex: 25%;
  height: 100%;
  border-right: dashed blue 1px;
}

#instructions {
  flex: 75%;
  padding: 0 0 0 20px;
}

/************
Media Queries
************/

@media (max-width: 500px) {
  .ingredients-instructions-container {
    display: flex;
    flex-direction: column;
  }

  .recipe-container {
    padding: 0 10px 0 10px;
  }
  
  #ingredients {
    border-right: none;
  }
  
  #instructions {
    padding: 0;
  }
}