.test {
  color: blue;
}

.recipe-container {
  border: solid black 1px;
  max-width: 900px;
  margin: 0 auto;
}

.ingredients-instructions-container {
  display: flex;
  flex: 100%;
  flex-direction: row;
}

#ingredients {
  flex: 25%;
}

#instructions {
  flex: 75%;
}

@media (max-width: 500px) {
  .ingredients-instructions-container {
    display: flex;
    flex-direction: column;
  }
}